extends partial/main

block body
	h2= `Index of ${cwd}`
	table.index
		thead
			tr
				th Name
				th Note
				th Size
				th Modified
		tbody
			tr
				td.dir: a(href="..") ../
				td Parent directory
				td
				td
			
			each d in dl
				- var {mtime, size, name, note} = d;
				tr
					td.dir
						a(href=`${cwd}${name}/`)= name + "/"
					td.note!= md.render(note || "")
					td.size
						+size(size)
					td.time
						if mtime
							time= mtime

			each f in fl
				- var {mtime, size, name, note} = f;
				tr
					td.base
						a(href=`${cwd}${name}`)= name
					td.note!= md.render(note || "")
					td.size
						+size(size)
					td.time
						if mtime
							time= mtime
