extends partial/main

block body
	h2= `Index of ${cwd}`
	table
		thead
			tr
				th Name
				th Size
				th Modified
		tbody
			if cwd != webroot
				tr
					td: a(href="..") ..
					td
					td
			
			- files.sort();
			each f in files
				- var {mtime, size} = f.stat || {};
				tr
					td: a(href=`${cwd}/${f.name}`)= f.name
					td
						if mtime
							time= stat.mtime
						else
							|-
					td.size
						- const KB = 1024, MB = KB*KB, GB = KB*MB
						- var size = stat.size
						if typeof size === "undefined"
							
						else if Number.isNaN(size)
							|∅
						else if !Number.isFinite(size)
							|∞
						else if size < KB
							= `${size} B`
						else if size < MB
							= `${size} kB`
						else if size < GB
							= `${size} MB`
						else
							= `${size} GB`
