extends partial/main

block body
	h2= `Index of ${cwd}`
	table.index
		thead
			tr
				th Name
				th Size
				th Modified
		tbody
			tr
				td.dir: a(href="..") ../
				td
				td
			
			//- Get rid of duplicates caused by overlaying multiple
			//-  route handlers for the same routes
			
			- var seen = [];
			- files = files.filter(v => {
			-	if(seen.indexOf(v.name) === -1) {
			-		seen.push(v.name);
			-		return true;
			-	}
			-	else {
			-		return false;
			-	}
			- });
			
			//- Separate dirs and files to be listed separately
			- var dl = [], fl = [];
			- for(let f of files) {
			-	if(f.isDirectory()) dl.push(f);
			-	else fl.push(f);
			- }
			- dl.sort((a, b) => a.name.localeCompare(b.name));
			- fl.sort((a, b) => a.name.localeCompare(b.name));
			each d in dl
				- var {mtime, size, name} = d;
				tr
					td.dir
						a(href=`${cwd}${name}`)= name + "/"
					td.size
						+size(size)
					td.time
						if mtime
							time= mtime

			each f in fl
				- var {mtime, size, name} = f;
				tr
					td.base
						a(href=`${cwd}${name}`)= name
					td.size
						+size(size)
					td.time
						if mtime
							time= mtime
