.shell
	.user= user.id
	|@
	.host u413.com
	|:
	.cwd= user.cwd
	.prompt= user.prompt
	| 
	input#cli(
		autofocus
		autocomplete="off" autocorrect="off"
		autocapitalize="off" spellcheck="false"
	)
	script.
		var cli = document.getElementById("cli");
		document.addEventListener('click', () => {
			console.log("click");
			let cvl = cli.value.length;
			cli.focus();
			cli.setSelectionRange(cvl, cvl);
		});
		cli.addEventListener('click', ev => ev.stopPropagation());
