include mixins
doctype html
html
	head
		link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		link(rel="manifest" href="/site.webmanifest")
		link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
		meta(name="msapplication-TileColor" content="#da532c")
		meta(name="theme-color" content="#ffffff")
		
		title
			block title
				= cwd
		
		block styles
			+style("main")
		block scripts
			script!= `var user = ${JSON.stringify(user || {name: 'nobody'})};`
			+script("main")
			+script("shell")
	body
		#shell
			main#buffer
				block body
			#current
				.prompt
					- const nobody = {name: "nobody"};
					- if(!user) {
					-	user = user || nobody;
					- }
					- else if(!user.name) {
					-	user.name = "nobody";
					- }
					if user.name === "nobody"
						span.nobody nobody
					else
						span.user= user.name
					span @
					span.host u413.com
					span :
					span.path= cwd || "./"
					span.access= user.access || "$"
					span &nbsp;
			textarea#stdin(autofocus)
		footer= `${config.name} v${config.version}`
