mixin script(name)
	script(async=true src=`/etc/scripts/${name}.js`)

mixin style(name)
	link(async=true rel="stylesheet" href=`/etc/styles/${name}.css`)

mixin postinfo(post)
	section.info
		//-a.user(href=`/home/${post.author.name}`)= post.author.name
		.user= post.author.name
		time= post.created
		block extra

mixin post(post)
	section.post
		+postinfo(post)
		blockquote!= md.render(post.body)

mixin size(size)
	- const KB = 1024, MB = KB*KB, GB = KB*MB
	span.size
		if typeof size === "undefined"
			
		else if Number.isNaN(size)
			| ∅
		else if !Number.isFinite(size)
			| ∞
		else if size < KB
			| #[span.value= size] #[span.unit= "\u00a0B"]
		else if size < MB
			| #[span.value= (size/KB)|0] #[span.unit kB]
		else if size < GB
			| #[span.value= (size/GB)|0] #[span.unit MB]
		else
			| #[span.value= (size/GB)|0] #[span.unit GB]
