mixin script(name)
	script(src=`/etc/scripts/${name}.js`)

mixin style(name)
	link(rel="stylesheet" href=`/etc/styles/${name}.css`)

mixin postinfo(post)
	.info
		//-a.user(href=`/home/${post.author.name}`)= post.author.name
		.user= post.author.name
		time= post.created.toGMTString()
		block extra

mixin post(post)
	.post
		+postinfo(post)
		blockquote!= md.render(post.body)

mixin size(size)
	- const KB = 1024, MB = KB*KB, GB = KB*MB
	if typeof size === "undefined"
		
	else if Number.isNaN(size)
		|∅
	else if !Number.isFinite(size)
		|∞
	else if size < KB
		= `${size} B`
	else if size < MB
		= `${size} kB`
	else if size < GB
		= `${size} MB`
	else
		= `${size} GB`
